<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h3>Welcome! Want to see some chats </h3>
    <form method="get" action="/chats">
      <button>Click Here</button>
    </form>
</body>
</html>